@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header{
    background: #121F3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.hamburger{
    color: white;
    width: 50px;
    cursor: pointer;
}
.logo{
    color:#d69e36;
    font-weight: bold;
}

.nav ul{
    background: #121F3D;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    list-style: none;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    left: -100vw;
    transition: all ease .5s;
}

.nav ul li{
    text-align: center;
    width: 100%;
    padding: 10px;
    border-bottom: solid .5px #d69e36;
}
.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
}

.nav ul.open{
    left: 0;
    transition: all .5s;
}

@media screen and (min-width:480px) {
  .hamburger{
    display: none;
  }
  .nav ul{
      position: static;
      flex-direction: row;
      height: auto;
      width: auto;
      justify-content: space-between;
  }
  .nav ul li{
      width: auto;
      padding: 0;
      border-bottom: none;
  }
}